.wrapper {
  max-width: 390px;
  padding: 77px 55px 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  background: #fff;
}

.title {
  margin: 0;
  padding-bottom: 26px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  color: #333;
  line-height: 1.2;
}

.user {
  width: 90px;
  padding-bottom: 48px;
}

.form {
  width: 100%;
}

.input_wrapper {
  margin-bottom: 50px;
}

.input {
  padding: 0 5px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 0.938rem;
  line-height: 1.2;
  display: block;
  height: 45px;
  background: 0 0;
  border: none;
  border-bottom: 2px solid;
  border-bottom-color: #adadad;
  transition: 0.3s;
  outline: none;
}

.error {
  font-size: 0.938rem;
  color: rgb(204, 34, 34);
  position: absolute;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  
  color: #fff;
  background-size: 300% 100%;
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.info {
  padding-top: 115px;
  font-size: 0.938rem;
  color: #666;
  text-align: center;
}

a {
  display: block;
  padding-top: 5px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

/* Pseudo */

.input:focus {
  border-bottom-color: #764ba2;
  transition: 0.3s;
}

.button:active {
  filter: brightness(80%);
}

.button:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.button:disabled {
  filter: grayscale(50%);
  pointer-events: none;
}

a:hover {
  color: #764ba2;
  transition: 0.3s;
}

/* Media */

@media (max-width: 445px) {
  .wrapper {
    padding: 77px 35px 33px;
  }
}
